
.post-grid{
    width: 100%;
    list-style:none; 
    padding: 0;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 3px;
    padding: 15px;
    max-width: 1200;

    

}
.post-grid li{
    margin: 0 auto;
    box-sizing: border-box;

}