<p> POST</p>

<div>
    <h3>{{(post$ | async)?.title}}</h3>
    <span>{{(post$| async)?.date| date: 'medium'}}</span>

    <p>{{(post$ | async)?.username}}</p>
    <p>{{(post$ | async)?.text}}</p>

    <div *ngIf="(post$|async)?.comments?.length>0; then okList else error"></div>
    <ng-template #okList>
    <ul> Comments:
        <li *ngFor="let comment of (post$ | async)?.comments" >
            <h4>{{comment?.nickname}}</h4> 
            <p>{{comment?.comment}}</p>
     </li>
    </ul> 
</ng-template>
<ng-template #error>No hay comentarios</ng-template>
</div>
