<button [routerLink]="['/admin']" type="button">VOLVER A LA LISTA DE POST</button>
<form [formGroup]= "postForm"> 
    <label for="username">Username:</label>
    <input name="username" type="text" formControlName= "username"/>
    <label for="nickname">Nickname:</label>
    <input name= "nickname" type="text" formControlName= "nickname"/>
    <label for="title">Title:</label>
    <input name= "title" type="text" formControlName= "title"/>
    <label for="text">Text:</label>
    <textarea name= "text" type="text" formControlName= "text"></textarea>
    <button (click)="createPost()" [routerLink]="['/admin']">Crear Nuevo Post</button>
</form>